*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
}
h1,li,ul{
    display: inline;
}
ul{
    color: brown;
    margin-left:60%;
}
li:hover{
    color:white ;
}
li{
    cursor: pointer;
}
input{
    width: 60%;
    padding:15px;
}
.serchbar{
    padding:50px;
    text-align: center;
}
.box{
    border-color:black;
    border-width: 2px;
    border-style:solid;
    display: inline-block;
    width: 220px;
}
.products{
    text-align: center;
}
.box:hover{
    background-color: black;
    color: white;
}
.About{
     text-align: center;
     margin-top: 20px;
     padding: 20px;
}
.Contact{
    text-align: center;
    margin:20px;
    padding:20px;
    background-color: black;
    color:sandybrown;
    
}